{{define "cart-item"}}
{{/*expects cart item object*/}}
<div class="mb-4" id="item-{{.ID}}">
    <div class="flex gap-4 items-center border-b pb-2 mb-2">
        
        <div class="flex w-1/2">
            <img class="w-20 h-20 object-cover mr-4" src="https://via.placeholder.com/80" alt="Product Image">
            <div>
                <h2 class="text-lg font-semibold">{{ .Name }}</h2>
                <p class="text-gray-600">
                     <ul>
                        {{ range .Components }}
                            <li>{{ .Name }}</li>
                        {{ end }}
                     </ul>
                </p>
            </div>
        </div>

        {{ template "item-details" . }}
        
    </div>
</div>
{{ end }}

{{ define "item-details" }}
<div class="details w-1/2 flex items-center justify-between">
    <div class="flex items-center space-x-2">
        <button 
            class="bg-gray-200 hover:bg-gray-300 text-gray-700 p-2 rounded-full"
            x-triger="click"
            hx-post="/cart/item/decrement"
            hx-target="#cart-main"
            hx-swap="outerHTML"
            hx-vals='{"cart_item_id":"{{.ID}}"}'
        >
            <span class="sr-only">Decrease Quantity:</span>
            <span aria-hidden="true">−</span>
        </button>
        {{ template "item-counter" . }}
        <button 
            class="bg-gray-200 hover:bg-gray-300 text-gray-700 p-2 rounded-full" 
            hx-triger="click"
            hx-post="/cart/item/increment"
            hx-target="#cart-main"
            hx-swap="outerHTML"
            hx-vals='{"cart_item_id":"{{.ID}}"}'
            >
            <span class="sr-only">Increase Quantity:</span>
            <span aria-hidden="true">+</span>
        </button>
    </div>   

    <div class="text-right">
        <p class="text-lg font-semibold">€{{ .SalePrice }}</p>
        <button 
        class="text-red-600 hover:underline"
        hx-triger="click"
        hx-post="/cart/item/remove"
        hx-target="#cart-main"
        hx-swap="outerHTML"
        hx-vals='{"cart_item_id":"{{.ID}}"}'
        >Remove</button>
    </div>
</div>
{{ end }}

{{ define "item-counter" }}
{{/*expects cart item object*/}}
    <input class="item-qty border border-gray-300 rounded w-12 text-center py-1" type="tel" value="{{.Qty}}" min="1">
{{ end }}