{{ define "success" }}
    {{ template "header" . }}
    <main class="container text-center">
        Thank you for your order
        Your order number is {{ .OrderID }}
    </main>
    {{ template "footer" . }}
{{ end }}
