package pages


import "github.com/seanomeara96/gates/models"
import "github.com/seanomeara96/gates/views/partials"

type CartPageProps struct {
  BaseProps BaseProps
  Cart models.Cart
}

templ Cart(props CartPageProps){
  @Base(props.BaseProps){
    @partials.CartMain(props.Cart)
  }
}

