package pages

type OrderSuccessPageProps struct {
  BaseProps BaseProps
  OrderID int
}


templ OrderSuccess(props OrderSuccessPageProps) {
  @Base(props.BaseProps){
    <main class="container text-center">
        Thank you for your order
        Your order number is { props.OrderID }
    </main>
    }
}

