package pages

templ Test() {
  @base(){
<form
hx-post="/test"
hx-trigger="submit"
>
<input type="hidden" name="data" value="{'name':`sean`}">
<input type="hidden" name="data" value="{'name':`steven`}">
<input type="hidden" name="data" value="{'name':`rachel`}">

<button class="hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
style="background-color: #683B1C">Add Bundle To Cart</button>
</button>
</form>

    }
}


