{{ template "header" }}    
    
    <div class="container my-4 mx-auto px-4">
        <h2 class="text-3xl font-bold mb-4">Popular Bundles</h2>
        <div class="flex flex-wrap -mx-2">
            {{ range .PopularBundles}}
                <a class="w-full md:w-1/2 lg:w-1/4 px-2 mb-4" href="/bundles/{{.Id}}">
                    <div class="bg-white rounded-lg overflow-hidden shadow-md">
                        <img src="https://via.placeholder.com/500x300" alt="Baby Safety Gate" class="w-full">
                        <div class="p-4">
                            <h3 class="font-bold mb-2">{{ .Name }}</h3>
                            <p class="text-gray-600 mb-4">
                                <ul>
                                    <li>Size: {{ .Size }}</li>
                                    <li>Colour: {{ .Color }}</li>
                                </ul>
                            </p>
                            <div class="flex justify-between items-center">
                                <span class="text-xl font-bold">€{{ .Price }}</span>
                                <button class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </div> 

{{ template "footer" }}