{{ template "header.tmpl" }}

    <div class="container my-4 mx-auto px-4">
        <h2 class="text-3xl font-bold mb-4">{{ .Heading }}</h2>
        <div class="flex flex-wrap -mx-2">
            {{ range .Products }}
                {{ template "product-card.tmpl" . }}
            {{ end }}
        </div>
    </div>  


{{ template "footer.tmpl" }}